.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 100px auto;
}

.icons {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}
.btn {
  border: 1px solid #087f5b;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: none;
}
.btn:hover {
  background-color: #087f5b;
}
.btn:hover .icons {
  stroke: white;
}
.page-link:link,
.page-link:visited {
  text-decoration: none;
  font-size: 18px;
  color: #343a40;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-link:hover,
.page-link:active {
  background-color: #087f5b;
}
